.card{
    top: 100px;
    left: 100px;
    height: 670px;
    width: 570px;
    -webkit-box-shadow: 2x 2px 10px 1px rgba(153,153,153,1);
    -moz-box-shadow: 2px 2px 10px 1px rgba(153,153,153,1);
    box-shadow: 2px 2px 10px 1px rgba(153,153,153,1);
    border: 0px;

}

.card-header{
    border: 0px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    padding: 1.5rem 2rem;
}
.card-body{
    font-family: 'Noto Sans', 'FontAwesome', sans-serif;
    padding: 2rem 2.5rem;
}

.label-content{
    font-size: 14px;
    text-align: justify;
}

.form-control{
    border: 2px solid #dddddd;
    margin-top: 20px;
}

.btn-primary, .btn-outline-secondary{
    font-size: 14px;
    margin-top: 25px;
}

.btn-outline-secondary{
    border: 2px solid #6c757d;
}


.col-sm-12{
    padding: 0;
}

.col-sm-6{
    padding-right: 0;
}

.colsm3{
    padding-left: 0;
}